
<!-- login page -->
<main *ngIf="isLoginPage; else myTemplate">
    <router-outlet></router-outlet>
</main>

<!-- toolbar -->
<ng-template #myTemplate>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark shadow">

        <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active" 
           (click)="isOnMobile () ? isCollapsed = !isCollapsed : false;"> 
            S E M S Y S 
        </a>

        <!-- links -->
        <div id="homeNavbar" class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" *ngFor="let link of buttonLinks;">
                    <a class="nav-link" *ngIf="link.checkProfile" 
                       [routerLink]="[link.routerLink]" routerLinkActive="active" 
                       (click)="isOnMobile () ? isCollapsed = !isCollapsed : false;"> 
                        {{ link.text | translate }}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end mr-3">
                <li class="nav-item" *ngFor="let link of sidenavLinks;">
                    <a class="nav-link" [routerLink]="[link.routerLink]" routerLinkActive="active" 
                       (click)="isOnMobile () ? isCollapsed = !isCollapsed : false;"> 
                       {{ link.text | translate }}
                    </a>
                </li>
            </ul>
        </div>

        <!-- logout -->
        <button type="button" class="btn btn-outline-danger my-2 my-sm-0" (click)="onLogout ();"> 
            {{ 'global.menu-links.logout' | translate }} 
        </button>
    </nav>

    <main class="container">
        <router-outlet></router-outlet>
    </main>
</ng-template>
