
<!-- forgot password-->
<section class="container">
    <div class="box-wrapper w-75 mx-auto my-md-5 my-3 shadow-lg">
        <div class="card">
            <div class="card-body">
                <header>
                    <h2 class="text-center"> 
                        {{ 'global.forgot-password' | translate }} 
                    </h2>
                </header>

                <hr>

                <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit ();">
                
                    <!-- email -->
                    <div class="form-row">
                        <div class="col-md-9">
                            <input type="email" id="emailInput" class="form-control" maxlength="30" 
                                   [placeholder]="'global.personal.email' | translate"
                                   formControlName="email" [ngClass]="buildValidationClass ('email')" />
                            <app-error-message [control]="form.get ('email')" [label]="'global.personal.email' | translate">
                            </app-error-message>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block"> 
                                {{ 'global.buttons.submit' | translate }} 
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12">
                        <a [routerLink]="['/login']">
                            {{ 'forgot-password.back-login' | translate }} 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
