<div class="container">
    <div class="box-wrapper mx-auto my-3 my-md-5">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center"> {{ 'global.forgot-password' | translate }} </h4>
            </div>

            <div class="card-body">
                <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit ();">
                
                    <!-- email -->
                    <div class="form-row">
                        <div class="col-md-12 form-group">
                            <label for="emailInput" class="required-label d-none d-md-block"> {{ 'global.personal.email' | translate }} * </label>
                            <input type="email" id="emailInput" class="form-control" 
                                   maxlength="30" [placeholder]="'global.personal.email' | translate"
                                   formControlName="email" [ngClass]="buildValidationClass ('email')" />
                            <app-error-message [control]="form.get ('email')" [label]="'global.personal.email' | translate"></app-error-message>
                        </div>
                    </div>

                    <!-- buttons -->
                    <div class="form-row">
                        <div class="col-md-6 my-1">
                            <button type="button" class="btn btn-primary btn-block" (click)="onCancel ();"> {{ 'forgot-password.back-login' | translate }} </button>
                        </div>
                        <div class="col-md-6 my-1">
                            <button type="submit" class="btn btn-success btn-block"> {{ 'global.buttons.submit' | translate }} </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>