<!-- courses form -->
<div class="modal-content" role="dialog" aria-hidden="true">

    <!-- header -->
    <div class="modal-header">
        <h5 class="modal-title"> {{ 'global.buttons.new-course' | translate  }} </h5>
        <button type="button" class="close" aria-label="Close" (click)="onClose();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- body -->
    <div class="modal-body">
        <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit ();">
            
            <!-- name -->
            <div class="form-row">
                <div class="col-md-12 form-group">
                    <label for="inputCourseName" class="required-label"> {{ 'global.personal.name' | translate }} * </label>
                    <input type="text" id="inputCourseName" class="form-control" minlength="5" maxlength="120"
                           formControlName="name" [ngClass]="buildValidationClass ('name')">
                    <app-error-message [control]="form.get ('name')" [label]="'global.personal.name' | translate" ></app-error-message>
                </div>
            </div>

            <!-- period -->
            <div class="form-row">
                <div class="col-md-12 form-group">
                    <label for="selectTimePeriod" class="required-label"> {{ 'course.period.period' | translate }} * </label>
                    <select id="selectTimePeriod" class="form-control" formControlName="period" [ngClass]="buildValidationClass ('period')">
                        <option [value]="null"> {{ 'course.type.choose-type' | translate }}  </option>
                        <option *ngFor="let period of timePeriods" [value]="period"> {{ getTranslatedPeriod (period) | translate }} </option>
                    </select>
                    <app-error-message [control]="form.get ('period')" [label]="'course.period.period' | translate" ></app-error-message>
                </div>
            </div>

            <!-- type -->
            <div class="form-row">
                <div class="col-md-12 form-group">
                    <label for="selectCourseType" class="required-label"> {{ 'course.type.type' | translate }} * </label>
                    <select id="selectCourseType" class="form-control" formControlName="type" [ngClass]="buildValidationClass ('period')">
                        <option [value]="null"> {{ 'course.period.choose-period' | translate }}  </option>
                        <option *ngFor="let type of courseTypes" [value]="type"> {{ getTranslatedCourseType (type) | translate }} </option>
                    </select>
                    <app-error-message [control]="form.get ('type')" [label]="'course.type.type' | translate" ></app-error-message>
                </div>
            </div>

            <label class="required-label"> (*) {{ 'global.required-fields' | translate }} </label>
            <button type="submit" class="d-none" #buttonSubmit> Submit </button>
        </form>
    </div>

    <!-- footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClose ();"> {{ 'global.buttons.cancel' | translate }} </button>
        <button type="button" class="btn btn-success float-right" (click)="buttonSubmit.click ()"> {{ 'global.buttons.submit' | translate }} </button>
    </div>

</div>