



<!-- profiles -->
<div class="box-wrapper mx-auto my-md-5 my-3">
    <div class="card">
        <div class="row no-gutters" *ngIf="!isLoading && !hasError; else spanLoading">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-12">
                        <div class="hover-effect border-right" (click)="userImageLabel.click();">
                            <input type="file" id="userImageInput" class="d-none" accept="image/png, image/jpeg" (change)="onChange ($event);">
                            <label for="userImageInput" class="d-none" #userImageLabel></label>

                            <!-- overlay -->
                            <img class="card-img top img-fluid" [src]="person?.imageUrl" alt="User Profile" #userImage>
                            <div class="overlay">
                                <p class="text-white h2 my-5">
                                    {{ 'profile.buttons.change-image' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-success w-100" (click)="onUploadImage ();" [disabled]="!userImageFile"> 
                            {{ 'profile.buttons.upload-image' | translate }} 
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <header>
                        <h5> 
                            {{ !isLoading && !hasError ? person.name : 'global.menu-links.profile' | translate }}
                        </h5>
                    </header>

                    <hr>

                    <p class="card-text"> {{ person.email }} </p>
                </div>
            </div>
        </div>

        <div class="row">
            <ng-template #spanLoading>
                <div class="bg-light p-3 text-center">
                    <span *ngIf="!hasError; else spanError;"> 
                        {{ 'global.messages.loading' | translate }} ... 
                    </span>
                </div>
            </ng-template>
        
            <ng-template #spanError>
                <span> {{ 'global.messages.system-error' | translate }} </span>
                <button type="button" class="btn btn-info mx-1" (click)="loadData ()"> 
                    {{ 'global.buttons.reload' | translate }} 
                </button>
            </ng-template>
        </div>
    </div>
</div>
