
<!-- new school classes -->
<article class="modal-content" role="dialog" aria-hidden="true">

    <!-- header -->
    <div class="modal-header">
        <header>
            <h2 class="modal-title"> 
                {{ 'global.buttons.new-class' | translate }} 
            </h2>
        </header>
        
        <button type="button" class="close" aria-label="Close" (click)="onClose();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- body -->
    <div class="modal-body">
        <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit ();">
            
            <!-- name -->
            <div class="row my-2">
                <div class="col-12">
                    <input type="text" class="form-control" minlength="5" maxlength="120"
                           [placeholder]="' * ' + ('global.personal.name' | translate)"
                           formControlName="name" #nameInput
                           [ngClass]="buildValidationClass ('name')">

                    <small class="text-muted">
                        {{ 'global.other.needed' | translate }} {{ 'global.other.from' | translate }} 
                        {{ nameInput.minLength }}
                        {{ 'global.other.to' | translate }} {{ nameInput.maxLength }}
                        {{ 'global.validations-messages.characters' | translate }}
                    </small>

                    <app-error-message [control]="form.get ('name')" [label]="'global.personal.name' | translate">
                    </app-error-message>
                </div>
            </div>

            <!-- course -->
            <div class="row my-2">
                <div class="col-12">
                    <input type="text" class="form-control" [value]="this.currentCourse.getName ()" readonly disabled>
                </div>
            </div>

            <div class="row my-2">

                <!-- start -->
                <div class="col-6">
                    <input type="text" class="form-control" minlength="10" maxlength="10" 
                           formControlName="start" [ngClass]="buildValidationClass ('start')"
                           [placeholder]="' * ' + ('classes.start' | translate)"
                           bsDatepicker [bsConfig]="bsDateConfig" [minDate]="todayDate">

                    <app-error-message [control]="form.get ('start')" [label]="'classes.start' | translate">
                    </app-error-message>
                </div>

                <!-- end -->
                <div class="col-6">
                    <input type="text" class="form-control" minlength="10" maxlength="10"
                           formControlName="end" [ngClass]="buildValidationClass ('end')"
                           [placeholder]="' * ' + ('classes.end' | translate)"
                           bsDatepicker [bsConfig]="bsDateConfig" [minDate]="todayDate">

                    <app-error-message [control]="form.get ('end')" [label]="'classes.end' | translate">
                    </app-error-message>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="btn-outline-danger font-weight-bold">
                        {{ errorMessage | translate }}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="required-label"> 
                        (*) {{ 'global.required-fields' | translate }} 
                    </label>
                    <button type="submit" class="d-none" #buttonSubmit> Submit </button>
                </div>
            </div>
        </form>
    </div>

    <!-- footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClose ();">
            {{ 'global.buttons.cancel' | translate }}
        </button>
        <button type="button" class="btn btn-success float-right" (click)="buttonSubmit.click ()">
            {{ 'global.buttons.submit' | translate }} 
        </button>
    </div>

</article>