
<!-- sign up -->
<article class="container">
    <div class="box-wrapper w-100 mx-auto my-md-5 my-3 shadow-lg">
        <div class="card">
            <div class="card-body">
                <header>
                    <h2 class="text-center"> 
                        {{ 'global.buttons.sign-up' | translate }} 
                    </h2>
                </header>

                <hr>

                <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit ();">

                    <!-- login data -->
                    <div class="row my-3">
                        <div class="col-12">
                            <fieldset class="pl-3 py-2">
                                <header>
                                    <h4> Login </h4>
                                </header>

                                <div class="row">

                                    <!-- social security number -->
                                    <div class="col-md-4 my-md-0 my-2">
                                        <input type="text" class="form-control" minlength="11" maxlength="11" 
                                               [placeholder]="' * ' + ('global.social-security-number' | translate)"
                                                formControlName="socialSecurityNumber" [ngClass]="buildValidationClass ('socialSecurityNumber')" 
                                                [mask]="inputMasks.socialSecurityNumber" [dropSpecialCharacters]="false"
                                                #ssnInput (blur)="onSocialSecurityNumberFocusOut (ssnInput.value);" />
    
                                        <small class="text-muted">
                                            {{ 'global.other.needed' | translate }} {{ ssnInput.maxLength }}
                                            {{ 'global.validations-messages.characters' | translate }}
                                        </small>
    
                                        <app-error-message [control]="form.get ('socialSecurityNumber')" [label]="'global.social-security-number' | translate">
                                        </app-error-message>
                                    </div>
    
                                    <!-- password -->
                                    <div class="col-md-4 my-md-0 my-2">
                                        <input type="password" class="form-control" minlength="10" maxlength="20" 
                                               [placeholder]="' * ' + ('global.password' | translate)" #passwordInput
                                               formControlName="password" [ngClass]="buildValidationClass ('password')" />
    
                                        <small class="text-muted">
                                            {{ 'global.other.needed' | translate }} {{ 'global.other.from' | translate }} 
                                            {{ passwordInput.minLength }}
                                            {{ 'global.other.to' | translate }} {{ passwordInput.maxLength }}
                                            {{ 'global.validations-messages.characters' | translate }}
                                        </small>
    
                                        <!-- validation -->
                                        <app-error-message [control]="form.get ('password')" [label]="'global.password' | translate">
                                        </app-error-message>
                                    </div>
    
                                    <!-- confirm password -->
                                    <div class="col-md-4 mb-3 form-group">
                                        <input type="password" class="form-control"
                                                minlength="10" maxlength="20" 
                                                [placeholder]="' * ' + ('global.confirm-password' | translate)"
                                                formControlName="confirmPassword" [ngClass]="buildValidationClass ('confirmPassword')" />
    
                                        <small class="text-muted">
                                            {{ 'global.validations-messages.must-match-password-field' | translate }} 
                                        </small>
    
                                        <!-- validation -->
                                        <app-error-message [control]="form.get ('confirmPassword')" [label]="'global.passwords' | translate">
                                        </app-error-message>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <!-- personal data -->
                    <div class="row my-3">
                        <div class="col-12">
                            <fieldset class="pl-3 py-2">
                                <header>
                                    <h4> {{ 'global.personal.personal' | translate }} </h4>
                                </header>
                                
                                <div class="row my-3">

                                    <!-- name -->
                                    <div class="col-md-5 my-md-0 my-2">
                                        <input type="text" id="nameInput" class="form-control" minlength="5" maxlength="120" 
                                               [placeholder]="' * ' + ('global.personal.name' | translate)" #nameInput
                                               formControlName="name" [ngClass]="buildValidationClass ('name')" />

                                        <small class="text-muted">
                                            {{ 'global.other.needed' | translate }} {{ 'global.other.from' | translate }} 
                                            {{ nameInput.minLength }}
                                            {{ 'global.other.to' | translate }} {{ nameInput.maxLength }}
                                            {{ 'global.validations-messages.characters' | translate }}
                                        </small>

                                        <app-error-message [control]="form.get ('name')" [label]="'global.personal.name' | translate">
                                        </app-error-message>
                                    </div>

                                    <!-- email -->
                                    <div class="col-md-4 my-md-0 my-2">
                                        <input type="email" id="emailInput" class="form-control" minlength="5" maxlength="30" 
                                               [placeholder]="' * ' + ('global.personal.email' | translate)" #emailInput
                                               formControlName="email" [ngClass]="buildValidationClass ('email')"
                                               (blur)="onEmailFocusOut (emailInput.value)" />

                                            <small class="text-muted">
                                                {{ 'global.other.needed' | translate }} {{ 'global.other.from' | translate }} 
                                                {{ emailInput.minLength }}
                                                {{ 'global.other.to' | translate }} {{ emailInput.maxLength }}
                                                {{ 'global.validations-messages.characters' | translate }}
                                            </small>

                                        <app-error-message [control]="form.get ('email')" [label]="'global.personal.email' | translate">
                                        </app-error-message>
                                    </div>

                                    <!-- birthdate -->
                                    <div class="col-md-3 my-md-0 my-2">
                                        <input type="text" id="birthdateInput" class="form-control" minlength="10" maxlength="10" 
                                               [placeholder]="' * ' + ('global.personal.birthdate' | translate)"
                                               formControlName="birthdate" [ngClass]="buildValidationClass ('birthdate')"
                                               bsDatepicker [bsConfig]="bsDateConfig" 
                                               [minDate]="birthdateMinDate" [maxDate]="birthdateMaxDate">

                                        <!-- validation -->
                                        <app-error-message [control]="form.get ('birthdate')" [label]="'global.personal.birthdate' | translate">
                                        </app-error-message>
                                    </div>
                                </div>

                                <div class="row my-3">

                                    <!-- course -->
                                    <div class="col-md-6 my-md-0 my-2">
                                        <select class="form-control" formControlName="courseId" [ngClass]="buildValidationClass ('courseId')">
                                            <option [value]="null">
                                                * {{ 'sign-up.your-course' | translate }} 
                                            </option>
                                            <option *ngFor="let course of courses$ | async" [value]="course.getId ()">
                                                {{ course.getName () }} - {{ course.getPeriod () }} -
                                                {{ course.getType () }}
                                            </option>
                                        </select>

                                        <app-error-message [control]="form.get ('courseId')" [label]="'sign-up.your-course' | translate">
                                        </app-error-message>
                                    </div>

                                    <!-- school class -->
                                    <div class="col-md-6 my-md-0 my-2">
                                        <select class="form-control" formControlName="schoolClassId" [ngClass]="buildValidationClass ('schoolClassId')">
                                            <option [value]="null">
                                                * {{ 'sign-up.your-class' | translate }} 
                                            </option>
                                            <option *ngFor="let schoolClass of schoolClasses" [value]="schoolClass.getId ()">
                                                {{ schoolClass.getName () }} - {{ schoolClass.getStart () }} /
                                                {{ schoolClass.getEnd () }}
                                            </option>
                                        </select>

                                        <!-- validation -->
                                        <app-error-message [control]="form.get ('schoolClassId')" [label]="'sign-up.your-class' | translate"></app-error-message>
                                    </div>
                                </div>
                                <div class="row my-3" formGroupName="phoneNumbers">
                                    <div class="col-md-4 my-md-0 my-2">
                                        <input type="tel" class="form-control" minlength="12" maxlength="12" 
                                               [placeholder]="' * ' + ('global.personal.phone-number' | translate)"
                                               formControlName="phoneNumber0" [ngClass]="buildValidationClass ('phoneNumbers.phoneNumber0')" 
                                               [mask]="inputMasks.phoneNumber" [dropSpecialCharacters]="false">

                                        <small class="text-muted">
                                            {{ 'global.other.this' | translate }} 
                                            {{ ('global.personal.phone-number' | translate).toLowerCase() }}
                                            {{ 'global.other.is-required' | translate }}
                                        </small>

                                        <app-error-message [control]="form.get ('phoneNumbers.phoneNumber0')" [label]="'global.personal.phone-number' | translate">
                                        </app-error-message>
                                    </div>
                                    <div class="col-md-4 my-md-0 my-2">
                                        <input type="tel" class="form-control" minlength="12" maxlength="12" 
                                               [placeholder]="'global.personal.phone-number' | translate"
                                               formControlName="phoneNumber1" 
                                               [mask]="inputMasks.phoneNumber" [dropSpecialCharacters]="false">

                                        <small class="text-muted">
                                            {{ 'global.other.this' | translate }} 
                                            {{ ('global.personal.phone-number' | translate).toLowerCase() }}
                                            {{ 'global.other.is-optional' | translate }}
                                        </small>

                                        <app-error-message [control]="form.get ('phoneNumbers.phoneNumber1')" [label]="'global.personal.phone-number' | translate">
                                        </app-error-message>
                                    </div>
                                    <div class="col-md-4 my-md-0 my-2">
                                        <input type="tel" class="form-control" minlength="12" maxlength="12" 
                                               [placeholder]="'global.personal.phone-number' | translate"
                                               formControlName="phoneNumber2" 
                                               [mask]="inputMasks.phoneNumber" [dropSpecialCharacters]="false">

                                        <small class="text-muted">
                                            {{ 'global.other.this' | translate }} 
                                            {{ ('global.personal.phone-number' | translate).toLowerCase() }}
                                            {{ 'global.other.is-optional' | translate }}
                                        </small>

                                        <app-error-message [control]="form.get ('phoneNumbers.phoneNumber2')" [label]="'global.personal.phone-number' | translate">
                                        </app-error-message>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <!-- address data -->
                    <div class="row my-3">
                        <div class="col-12">
                            <fieldset class="pl-3 py-2">
                                <header>
                                    <h4> {{ 'global.address.address' | translate }} </h4>
                                </header>

                                <div class="row my-3">

                                    <!-- country -->
                                    <div class="col-md-4 my-md-0 my-2">
                                        <select class="form-control" formControlName="countryId" [ngClass]="buildValidationClass ('countryId')">
                                            <option [value]="null">
                                                * {{ 'global.address.country' | translate }}
                                            </option>
                                            <option *ngFor="let country of countries$ | async;" [value]="country.getId ()">
                                                {{ country.getAbbreviation ()}} - {{ country.getName () }} 
                                            </option>
                                        </select>

                                        <app-error-message [control]="form.get ('countryId')" [label]="'global.address.country' | translate">
                                        </app-error-message>
                                    </div>

                                    <!-- state -->
                                    <div class="col-md-4 my-md-0 my-2">
                                        <select class="form-control" formControlName="stateId" [ngClass]="buildValidationClass ('stateId')">
                                            <option [value]="null">
                                                * {{ 'global.address.state' | translate }}
                                            </option>
                                            <option *ngFor="let state of states;" [value]="state.getId ()">
                                                {{ state.getAbbreviation () }} - {{ state.getName () }} 
                                            </option>
                                        </select>

                                        <app-error-message [control]="form.get ('stateId')" [label]="'global.address.state' | translate">
                                        </app-error-message>
                                    </div>

                                    <!-- city -->
                                    <div class="col-md-4 my-md-0 my-2">
                                        <select class="form-control" formControlName="cityId" [ngClass]="buildValidationClass ('cityId')">
                                            <option [value]="null">
                                                * {{ 'global.address.city' | translate }}
                                            </option>
                                            <option *ngFor="let city of cities;" [value]="city.getId ()">
                                                {{ city.getName () }} 
                                            </option>
                                        </select>

                                        <app-error-message [control]="form.get ('cityId')" [label]="'global.address.city' | translate">
                                        </app-error-message>
                                    </div>
                                </div>
                                <div class="row my-3">

                                    <!-- zip code -->
                                    <div class="col-md-2 my-md-0 my-2">
                                        <input type="text" class="form-control" minlength="5" maxlength="10" 
                                        [placeholder]="' * ' + ('global.address.zip-code' | translate)"
                                        formControlName="zipCode" [ngClass]="buildValidationClass ('zipCode')"
                                        [mask]="inputMasks.zipCode" [dropSpecialCharacters]="false">

                                        <small class="text-muted">
                                            {{ 'global.other.zip-code-load' | translate }}
                                        </small>

                                        <!-- validation -->
                                        <app-error-message [control]="form.get ('zipCode')" [label]="'global.address.zip-code' | translate">
                                        </app-error-message>
                                    </div>

                                    <!-- street -->
                                    <div class="col-md-4 my-md-0 my-2">
                                        <input type="text" class="form-control" minlength="5" maxlength="120" 
                                               [placeholder]="' * ' + ('global.address.street' | translate)" #streetInput
                                               formControlName="street" [ngClass]="buildValidationClass ('street')">

                                        <small class="text-muted">
                                            {{ 'global.other.needed' | translate }} {{ 'global.other.from' | translate }} 
                                            {{ streetInput.minLength }}
                                            {{ 'global.other.to' | translate }} {{ streetInput.maxLength }}
                                            {{ 'global.validations-messages.characters' | translate }}
                                        </small>

                                        <!-- validation -->
                                        <app-error-message [control]="form.get ('street')" [label]="'global.address.street' | translate">
                                        </app-error-message>
                                    </div>

                                    <!-- complement -->
                                    <div class="col-md-4 my-md-0 my-2">
                                        <input type="text" class="form-control" maxlength="120" #complementInput
                                               [placeholder]="'global.address.complement' | translate" formControlName="complement">

                                        <small class="text-muted">
                                            {{ 'global.other.optional' | translate }},
                                            {{ 'global.other.but-allows-up-to' | translate }}
                                            {{ complementInput.maxLength }}
                                            {{ 'global.validations-messages.characters' | translate }}
                                        </small>
                                    </div>

                                    <!-- number -->
                                    <div class="col-md-2 my-md-0 my-2">
                                        <input type="text" class="form-control" minlength="1" maxlength="5" 
                                               [placeholder]="' * ' + ('global.address.number' | translate)" #numberInput
                                               formControlName="number" [ngClass]="buildValidationClass ('number')"
                                               [mask]="inputMasks.number">

                                        <small class="text-muted">
                                            {{ 'global.other.needed' | translate }} {{ 'global.other.from' | translate }} 
                                            {{ numberInput.minLength }}
                                            {{ 'global.other.to' | translate }} {{ numberInput.maxLength }}
                                            {{ 'global.validations-messages.characters' | translate }}
                                        </small>

                                        <app-error-message [control]="form.get ('number')" [label]="'global.address.number' | translate">
                                        </app-error-message>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-12">
                            <label class="required-label"> 
                                (*) {{ 'global.required-fields' | translate }} 
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="d-none" #buttonSubmit> Submit </button>
                </form>
            </div>

            <!-- buttons -->
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <a [routerLink]="['/login']">
                            {{ 'global.buttons.cancel' | translate }} 
                        </a>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-success float-right" (click)="buttonSubmit.click ()"> 
                            {{ 'global.buttons.submit' | translate }} 
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
