
.home-container {
    max-width: 100%;
    width: fit-content;
    background-color: rgba($color: #ffffff, $alpha: 0.75);
    padding: 1rem;

    img {
        display: block;
        width:88px;
        height: 88px;
    }

    a {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 0.80rem;
    }
}

@media only screen and (max-width: 425px) {
    .home-container {
        max-width: 60%;

        a {
            font-size: 1rem;
        }
    }
}

