
<!-- employees -->
<article class="card-box shadow-lg mx-auto my-md-5 my-3">
    <header>
        <h1 class="mb-3 text-center"> {{ globalHeader | translate }} </h1>
    </header>

    <hr>

    <!-- search | new employee -->
    <div class="row">
        <div class="col-md-9">
            <div class="input-group mb-3">
                <input type="text" class="form-control" [formControl]="queryField" 
                       [placeholder]="'global.messages.search-for-name' | translate">
                <div class="input-group-append">
                    <button type="search" class="btn btn-success" (click)="onSearch ();"> 
                        {{ 'global.buttons.search' | translate }} 
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary w-100" (click)="redirectToNewEmployee ();"> 
                {{ 'global.buttons.new-employee' | translate }} 
            </button>
        </div>
    </div>

    <hr>

    <div class="row" *ngIf="records$ | async as employees; else spanLoading;">
        <div class="col-12">
            <div class="card-container" *ngIf="!hasError && recordsCount !== 0; else emptyTemplate">
                <div class="row row-cols-1 row-cols-md-4">
                    <div class="col mb-4" *ngFor="let employee of employees;">
                        <div class="card card-list-item">
                            <div class="card-header card-name" [title]="employee.getName ()"> 
                                {{ employee.getName () }} 
                            </div>
                            <img class="img-fluid border-bottom" [src]="employee?.getImageUrl() || 'assets/images/avatar-blank.png'" alt="person">
                            <div class="card-body">
                                <p class="card-text"> {{ employee.getEmail () }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #emptyTemplate>
                <div class="bg-light p-3 text-center">
                    {{ 'global.messages.nothing-found' | translate }}
                </div>
            </ng-template>
        </div>
        
    </div>

    <ng-template #spanLoading>
        <div class="bg-light p-3 text-center">
            <span *ngIf="!hasError; else spanError;"> 
                {{ 'global.messages.loading' | translate }} 
                {{ 'global.menu-links.employees' | translate }} ... 
            </span>
        </div>
    </ng-template>

    <ng-template #spanError>
        <span> {{ 'global.messages.system-error' | translate }} </span>
        <button type="button" class="btn btn-info mx-1" (click)="onSearch ()"> 
            {{ 'global.buttons.reload' | translate }} 
        </button>
    </ng-template>

</article>