
<!-- report modal -->
<div class="modal-content" role="dialog" aria-hidden="true">

    <!-- header -->
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide ()">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>

    <!-- body -->
    <div class="modal-body">
        <div class="row">
            <div class="col-12 text-center">
                <header>
                    <h2> {{ title }} </h2>
                </header>
                <hr>
            </div>
            <div class="col-12">
                {{ employeeName }}
                <span class="font-weight-bold"> {{ ('report.about' | translate).toLowerCase() }} </span> 
                {{ studentName }}
                <hr>
            </div>
            <div class="col-12 overflow-auto" style="max-height: 12rem;">
                <p> {{ content }} </p>
                <hr>
            </div>
            <div class="col-12">
                <p class="font-italic float-right">
                    {{ 'report.issued-in' | translate }} {{ emission | date }}
                </p>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClose ();">
            {{ 'global.buttons.close' | translate }} 
        </button>
    </div>
</div>
