
<!-- about -->
<section class="box-wrapper w-50 mx-auto my-md-5 my-3">
    <div class="card alert-dark">
        <div class="card-body">
            <p class="slash"> &lt;&#47;&gt; </p>
            <header>
                <h3 class="text-center"> SEMSYS </h3>
            </header>

            <hr>

            <div class="row">
                <div class="col-12">
                    <p> 
                        <span class="font-weight-bold"> {{ 'about.developed-by' | translate }} </span> William Santos 
                    </p>
                    <p> 
                        <span class="font-weight-bold"> {{ 'about.contact' | translate }} : </span>
                        <a href="https://github.com/williamdsw"> github </a>
                    </p>
                    <p class="font-weight-bold"> {{ 'about.credits' | translate }} : </p>
                    <p> 
                        {{ 'about.icons-made-by' | translate }}
                        <a href="https://www.flaticon.com/br/autores/freepik" title="Freepik"> Freepik </a> 
                        {{ 'about.from' | translate }} 
                        <a href="https://www.flaticon.com/br/" title="Flaticon"> www.flaticon.com </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>