
<!-- meeting schedule form -->
<section class="modal-content" role="dialog" aria-hidden="true">

    <!-- header -->
    <div class="modal-header">
        <header>
            <h2 class="modal-title">
                {{ 'global.buttons.new-meeting-schedule' | translate }}
            </h2>
        </header>
        
        <button type="button" class="close" aria-label="Close" (click)="onClose ();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- body -->
    <div class="modal-body">
        <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit ()">
            <div>
                <div class="row my-2">

                    <!-- employee -->
                    <div class="col-md-6">
                        <div *ngIf="userType === 'Employee'; else employeeSelect">
                            <input type="text" class="form-control font-weight-bold" readonly disabled
                            [value]="employees[currentUserIndex]?.getName ()"
                            [title]="employees[currentUserIndex]?.getName ()">
                        </div>
                        
                        <ng-template #employeeSelect>
                            <select class="form-control" formControlName="employeeId" [ngClass]="buildValidationClass ('employeeId')">
                                <option [value]="null">
                                    * {{ 'meeting-schedules.employee' | translate }}
                                </option>
                                <option *ngFor="let employee of employees;" 
                                        [value]="employee.getId ()" [title]="employee.getName()">
                                    {{ employee.getName () }}
                                </option>
                            </select>
                            <app-error-message [control]="form.get ('employeeId')" [label]="'meeting-schedules.employee' | translate">
                            </app-error-message>
                        </ng-template>
                    </div>

                    <!-- student -->
                    <div class="col-md-6">
                        <div *ngIf="userType === 'Student'; else studentSelect">
                            <input type="text" class="form-control font-weight-bold" readonly disabled 
                            [value]="students[currentUserIndex]?.getName ()"
                            [title]="students[currentUserIndex]?.getName ()">
                        </div>

                        <ng-template #studentSelect>
                            <select class="form-control" formControlName="studentId" [ngClass]="buildValidationClass ('studentId')">
                                <option [value]="null">
                                    * {{ 'meeting-schedules.student' | translate }}
                                </option>
                                <option *ngFor="let student of students;" 
                                        [value]="student.getId ()" [title]="student.getName()">
                                    {{ student.getName () }}
                                </option>
                            </select>
                            <app-error-message [control]="form.get ('studentId')" [label]="'meeting-schedules.student' | translate">
                            </app-error-message>
                        </ng-template>
                    </div>
                </div>

                <!-- datetime -->
                <div class="row my-2">
                    <div class="col-12">
                        <input type="datetime-local" class="form-control" #datetimeInput formControlName="datetime" 
                               [ngClass]="buildValidationClass ('datetime')"
                               [min]="todayDate.toISOString ().slice (0, 16)" [value]="todayDate.toISOString ().slice (0, 16)">
                        <app-error-message [control]="form.get ('datetime')" [label]="'meeting-schedules.datetime' | translate">
                        </app-error-message>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-12">
                        <label class="required-label"> 
                            (*) {{ 'global.required-fields' | translate }} 
                        </label>
                        <button type="submit" class="d-none" #buttonSubmit> Submit </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-danger float-left" data-dismiss="modal" (click)="onClose ();">
            {{ 'global.buttons.cancel' | translate }} 
        </button>
        <button type="button" class="btn btn-success float-right" (click)="buttonSubmit.click ()">
            {{ 'global.buttons.submit' | translate }} 
        </button>
    </div>
</section>
