<!-- employees form -->
<div class="box-wrapper mx-auto my-3 my-md-5">
    <div class="card">

        <div class="card-header">
            <h2 class="text-center"> {{ 'global.buttons.new-employee' | translate }} </h2>
        </div>

        <div class="card-body">
            <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit ()">
                <div>
                    <accordion [isAnimated]="true">

                        <!-- login -->
                        <accordion-group class="my-2" [heading]="'global.buttons.login' | translate" [isOpen]="true" [panelClass]="'custom-accordion'">
                            <div class="form-row">

                                <!-- social security number -->
                                <div class="col-md-4 mb-3 form-group">
                                    <label for="ssnInput" class="required-label d-none d-md-block"> {{ 'global.social-security-number' | translate }} * </label>
                                    <input type="text" id="ssnInput" class="form-control" 
                                           minlength="11" maxlength="11" [placeholder]="'global.social-security-number' | translate"
                                           #ssnInput
                                           formControlName="socialSecurityNumber" [ngClass]="buildValidationClass ('socialSecurityNumber')"
                                           [mask]="inputMasks.socialSecurityNumber" [dropSpecialCharacters]="false"
                                           (blur)="onSocialSecurityNumberFocusOut (ssnInput.value)" />
                                    <small class="text-muted mt-2"> 11 characters long. </small>

                                    <!-- validation -->
                                    <app-error-message [control]="form.get ('socialSecurityNumber')" [label]="'global.social-security-number' | translate"></app-error-message>
                                </div>

                                <!-- password -->
                                <div class="col-md-4 mb-3 form-group">
                                    <label for="passwordInput" class="required-label d-none d-md-block"> {{ 'global.password' | translate }} * </label>
                                    <input type="password" id="passwordInput" class="form-control" 
                                           minlength="10" maxlength="20" [placeholder]="'global.password' | translate"
                                           formControlName="password" [ngClass]="buildValidationClass ('password')" />
                                    <small class="text-muted mt-2"> 10 - 20 characters long. </small>

                                    <!-- validation -->
                                    <app-error-message [control]="form.get ('password')" [label]="'global.password' | translate"></app-error-message>
                                </div>

                                <!-- confirm password -->
                                <div class="col-md-4 mb-3 form-group">
                                    <label for="confirmPasswordInput" class="required-label d-none d-md-block"> {{ 'global.confirm-password' | translate }} * </label>
                                    <input type="password" id="confirmPasswordInput" class="form-control"
                                           minlength="10" maxlength="20" [placeholder]="'global.confirm-password' | translate"
                                           formControlName="confirmPassword"  [ngClass]="buildValidationClass ('confirmPassword')" />
                                    <small class="text-muted mt-2"> Must match password field. </small>

                                    <!-- validation -->
                                    <app-error-message [control]="form.get ('confirmPassword')" [label]="'global.passwords' | translate"></app-error-message>
                                </div>
                            </div>
                        </accordion-group>

                        <!-- personal -->
                        <accordion-group class="my-2" [heading]="'global.personal.personal' | translate" [panelClass]="'custom-accordion'">
                            <div class="form-row">

                                <!-- name -->
                                <div class="col-md-6 form-group">
                                    <label for="nameInput" class="required-label d-none d-md-block"> {{ 'global.personal.name' | translate }} * </label>
                                    <input type="text" id="nameInput" class="form-control"
                                           minlength="5" maxlength="120" [placeholder]="'global.personal.name' | translate"
                                           formControlName="name"  [ngClass]="buildValidationClass ('name')" />
                                    <small class="text-muted"> 5 - 120 caracters long </small>

                                    <!-- validation -->
                                    <app-error-message [control]="form.get ('name')" [label]="'global.personal.name' | translate"></app-error-message>
                                </div>

                                <!-- email -->
                                <div class="col-md-6 form-group">
                                    <label for="emailInput" class="required-label d-none d-md-block"> {{ 'global.personal.email' | translate }} * </label>
                                    <input type="email" id="emailInput" class="form-control" 
                                           maxlength="30" [placeholder]="'global.personal.email' | translate"
                                           #emailInput
                                           formControlName="email"  [ngClass]="buildValidationClass ('email')"
                                           (blur)="onEmailFocusOut (emailInput.value)" />
                                    <small class="text-muted"> 5 - 30 caracters long </small>

                                    <!-- validation -->
                                    <app-error-message [control]="form.get ('email')" [label]="'global.personal.email' | translate"></app-error-message>
                                </div>
                            </div>

                           <!-- phone numbers -->
                           <label class="required-label d-none d-md-block"> {{ 'global.personal.phone-numbers' | translate }} * </label>

                           <div class="form-row" formGroupName="phoneNumbers">
                               <div class="col-md-4 form-group">
                                   <input type="tel" class="form-control" 
                                          minlength="12" maxlength="12" [placeholder]="'global.personal.phone-number' | translate"
                                          formControlName="phoneNumber0" [ngClass]="buildValidationClass ('phoneNumbers.phoneNumber0')" 
                                          [mask]="inputMasks.phoneNumber" [dropSpecialCharacters]="false">
                                   <small class="text-muted mt-2"> This phone number is required </small>
                                   <app-error-message [control]="form.get ('phoneNumbers.phoneNumber0')" [label]="'global.personal.phone-number' | translate"></app-error-message>
                               </div>
                               <div class="col-md-4 form-group">
                                   <input type="tel" class="form-control"
                                          minlength="12" maxlength="12" [placeholder]="'global.personal.phone-number' | translate"
                                          formControlName="phoneNumber1"
                                          [mask]="inputMasks.phoneNumber" [dropSpecialCharacters]="false">
                                   <small class="text-muted mt-2"> This phone number is optional </small>
                                   <app-error-message [control]="form.get ('phoneNumbers.phoneNumber1')" [label]="'global.personal.phone-number' | translate"></app-error-message>
                               </div>
                               <div class="col-md-4 form-group">
                                   <input type="tel" class="form-control"
                                          minlength="12" maxlength="12" [placeholder]="'global.personal.phone-number' | translate"
                                          formControlName="phoneNumber2" 
                                          [mask]="inputMasks.phoneNumber" [dropSpecialCharacters]="false">
                                   <small class="text-muted mt-2"> This phone number is optional </small>
                                   <app-error-message [control]="form.get ('phoneNumbers.phoneNumber2')" [label]="'global.personal.phone-number' | translate"></app-error-message>
                               </div>
                           </div>
                        </accordion-group>

                        <!-- address -->
                        <accordion-group class="my-2" [heading]="'global.address.address' | translate" [panelClass]="'custom-accordion'">
                            <div class="form-row">

                                <!-- country -->
                                <div class="col-md-4 form-group">
                                    <label for="countrySelect" class="required-label d-none d-md-block"> {{ 'global.address.country' | translate }} * </label>
                                    <select id="countrySelect" class="form-control" formControlName="countryId" [ngClass]="buildValidationClass ('countryId')">
                                        <option [value]="null"> {{ 'global.address.country' | translate }} </option>
                                        <option *ngFor="let country of countries$ | async;" [value]="country.getId ()"> {{ country.getAbbreviation ()}} -
                                            {{ country.getName () }} </option>
                                    </select>

                                    <!-- validation -->
                                    <app-error-message [control]="form.get ('countryId')" [label]="'global.address.country' | translate"></app-error-message>
                                </div>

                                <!-- state -->
                                <div class="col-md-4 form-group">
                                    <label for="stateSelect" class="required-label d-none d-md-block"> {{ 'global.address.state' | translate }} * </label>
                                    <select id="stateSelect" class="form-control" formControlName="stateId" [ngClass]="buildValidationClass ('stateId')">
                                        <option [value]="null"> {{ 'global.address.state' | translate }} </option>
                                        <option *ngFor="let state of states;" [value]="state.getId ()">
                                            {{ state.getAbbreviation () }} - {{ state.getName () }} 
                                        </option>
                                    </select>

                                    <!-- validation -->
                                    <app-error-message [control]="form.get ('stateId')" [label]="'global.address.state' | translate"></app-error-message>
                                </div>

                                <!-- city -->
                                <div class="col-md-4 form-group">
                                    <label for="citySelect" class="required-label d-none d-md-block"> {{ 'global.address.city' | translate }} * </label>
                                    <select id="citySelect" class="form-control" formControlName="cityId" [ngClass]="buildValidationClass ('cityId')">
                                        <option [value]="null"> {{ 'global.address.city' | translate }} </option>
                                        <option *ngFor="let city of cities;" [value]="city.getId ()">
                                            {{ city.getName () }}
                                        </option>
                                    </select>

                                    <!-- validation -->
                                    <app-error-message [control]="form.get ('cityId')" [label]="'global.address.city' | translate"></app-error-message>
                                </div>
                            </div>

                            <div class="form-row">

                                <!-- street -->
                                <div class="col-md-4 form-group">
                                    <label for="streetInput" class="required-label d-none d-md-block"> {{ 'global.address.street' | translate }} * </label>
                                    <input type="text" id="streetInput" class="form-control" 
                                           minlength="5" maxlength="120" [placeholder]="'global.address.street' | translate"
                                           formControlName="street" [ngClass]="buildValidationClass ('street')">
                                    <small class="text-muted"> 5 - 120 caracters long </small>

                                    <!-- validation -->
                                    <app-error-message [control]="form.get ('street')" [label]="'global.address.street' | translate"></app-error-message>
                                </div>

                                <!-- complement -->
                                <div class="col-md-4 form-group">
                                    <label for="complementInput" class="required-label d-none d-md-block"> {{ 'global.address.complement' | translate }} </label>
                                    <input type="text" id="complementInput" class="form-control" 
                                           maxlength="120" [placeholder]="'global.address.complement' | translate"
                                           formControlName="complement">
                                    <small class="text-muted"> Optional, but allows up to 120 characters </small>
                                </div>

                                <!-- number -->
                                <div class="col-md-2 form-group">
                                    <label for="numberInput" class="required-label d-none d-md-block"> {{ 'global.address.number' | translate }} * </label>
                                    <input type="text" id="numberInput" class="form-control"
                                           minlength="1" maxlength="5" [placeholder]="'global.address.number' | translate"
                                           formControlName="number" [ngClass]="buildValidationClass ('number')"
                                           [mask]="inputMasks.number">
                                    <small class="text-muted"> 1-5 caracters long </small>

                                    <!-- validation -->
                                    <app-error-message [control]="form.get ('number')" [label]="'global.address.number' | translate"></app-error-message>
                                </div>

                                <!-- zip code -->
                                <div class="col-md-2 form-group">
                                    <label for="zipCodeInput" class="required-label d-none d-md-block"> {{ 'global.address.zip-code' | translate }} * </label>
                                    <input type="text" id="zipCodeInput" class="form-control"
                                           minlength="5" maxlength="10" [placeholder]="'global.address.zip-code' | translate"
                                           formControlName="zipCode" [ngClass]="buildValidationClass ('zipCode')"
                                           [mask]="inputMasks.zipCode" [dropSpecialCharacters]="false">
                                    <small class="text-muted"> Use to load address data </small>

                                    <!-- validation -->
                                    <app-error-message [control]="form.get ('zipCode')" [label]="'global.address.zip-code' | translate"></app-error-message>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label class="required-label"> (*) {{ 'global.required-fields' | translate }} </label>
                    </div>
                </div>
                
                <button type="submit" class="d-none" #buttonSubmit> Submit </button>
            </form>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-success float-right" (click)="buttonSubmit.click ()"> {{ 'global.buttons.submit' | translate }} </button>
        </div>
    </div>
</div>