
<!-- login -->
<article class="container">
    <div class="box-wrapper w-75 mx-auto my-md-5 my-3 shadow-lg">
        <div class="card">
            <div class="card-body">
                <header>
                    <h1 class="text-center"> S E M S Y S </h1>
                </header>

                <hr>

                <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit ();">
                    <div class="row">

                        <!-- social security number -->
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" id="ssnInput" class="form-control" minlength="11" maxlength="11"
                                       [placeholder]="'global.social-security-number' | translate" 
                                       formControlName="socialSecurityNumber" [ngClass]="buildValidationClass ('socialSecurityNumber')"
                                       [mask]="inputMasks.socialSecurityNumber" [dropSpecialCharacters]="false">
                                <app-error-message [control]="form.get ('socialSecurityNumber')" [label]="'Social Security Number'">
                                </app-error-message>
                            </div>
                        </div>

                        <!-- password -->
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="password" id="passwordInput" class="form-control" maxlength="20"
                                       [placeholder]="'global.password' | translate"
                                       formControlName="password" [ngClass]="buildValidationClass ('password')">
                                <app-error-message [control]="form.get ('password')" [label]="'Password'">
                                </app-error-message>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="button" class="btn btn-success btn-block" (click)="btnSubmit.click ();" [disabled]="!this.form.valid"> 
                                {{ 'global.buttons.login' | translate }} 
                            </button>
                        </div>
                    </div>

                    <button type="submit" class="d-none" #btnSubmit> Login </button>
                </form>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-6 col-4">
                        <a [routerLink]="['/sign-up']">
                            {{ 'global.buttons.sign-up' | translate }} 
                        </a>
                    </div>
                    <div class="col-md-6 col-8">
                        <a class="float-right" [routerLink]="['/forgot-password']"> 
                            {{ 'global.forgot-password' | translate }} 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
